*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-image: url(img/fondo.png);    
    background-repeat: no-repeat;
    background-size: cover;        
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
}
h1 {
    width: 100%;
    height: 200px;
    background-color: rgba(51, 51, 51, 0.39);
    text-align: center;
    font-size: 100px;
    color: rgba(224, 172, 88, 0.829);
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 0px 0px black;
    text-transform: uppercase; 
    
       
}
h2 {
    color: rgba(224, 172, 88, 0.829);
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 3px 0px 0px black;
}
h3 {
    font-size: 30px;
    color: #ecbd57;
    text-shadow: 3px 0px 0px black;
}
span {
    font-size: 40px;
    font-weight: 900;
    color: #ecbd57;
    text-shadow: 3px 0px 0px black;
    
}
p {
    font-size: 30px;
    font-weight: 400;
    color: rgb(135, 230, 121);
    text-align: justify;
    text-shadow:3px  0px 0px black;      
}
section {
    margin:3% 30% 10%;
    background-color: rgba(27, 21, 21, 0.644);
    padding: 2%;
}
.mainS {
    position: relative ;
    left: 35%;
    top: 300px;    
    width: 800px;
    background-color: rgba(27, 21, 21, 0.644);
    padding: 2%;
    
}
.main {
    background-image: url(img/morpheo.png);
    width: 1000px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;    
    top: 400px;
    left: 28%;

      
     
}
.cv {
    position: relative;
    left: 620px;
    top: 400px;
    padding: 0.5%;
    border-radius: 40%;
    background-color: rgba(37, 37, 190, 0.794);
    color: rgb(233, 161, 44);
    font-size: larger;
    font-weight: 900;
}
.sm {
    position: relative;
    left: 200px;
    top: 400px;
    padding: 0.5%;
    border-radius: 40%;
    font-size: larger;
    background-color: rgba(240, 66, 66, 0.74);
    color: white;
    font-weight: 900;
}
.volver {
    font-size: larger;
    padding: 10px;
    position: relative;
    top: 20px;
    left: 330px;
    background-color: rgba(224, 172, 88, 0.829);
    font-weight: 700;
    color: rgb(68, 61, 61);
}
.p {
    font-size: 30px;
    font-weight: 400;
    color: rgb(135, 230, 121);
    text-align: justify;
    text-shadow:3px  0px 0px black;   
}



